* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    background-color: #e6f6fc;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    width: 70%;
    margin: 9rem auto auto 20rem;
}

.heading {
    font-size: 2.1rem;
}

.colors_div {
    display: flex;
    /* border: 1px solid red; */
    margin: 0 0 0 -0.6rem;
}

.colors_div>div {
    margin: 1.2rem 0 1.2rem 0.6rem;
}

#color_box:active {
    border: 2px solid red;
}

.pink, .blue, .yellow {
    /* border: 1px solid red; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #d8348b;
    cursor: pointer;
}

.blue {
    /* border: 1px solid red; */
    background-color: #2eb3e5;
}

.yellow {
    /* border: 1px solid red; */
    background-color: #fed247;
}

.umbrella_img_div>img {
    width: 60%;
}

.custom-file-upload {
    display: flex;
    padding: 0.6rem;
    cursor: pointer;
    width: 100%;
    margin: 0.6rem 0 0 0;
    background-color: #2eb3e5;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.custom-file-upload>img {
    margin: -0.3rem 3rem 0 0;
    width: 1rem;
}

.uploaded_image {
    width: 3rem;
    height: 1rem;
    display: block;
    margin: auto;
}

.customize_umbrella_section {
    /* border: 1px solid red; */
    width: 18rem;
    margin: 2rem 0 0 -3rem;
}

.upload_logo_preview {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
}

.png_only {
    margin: 0 0 0 0;
    font-size: 0.7rem;
}

#logo_div {
    width: 5rem;
    height: 1.5rem;
    z-index: 10;
    margin: -3rem 0 0 6.6rem;
    position: absolute;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light gray border */
    border-top: 16px solid #3498db;
    /* Blue border on top */
    border-radius: 50%;
    /* Circular shape */
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* Animation properties */
    margin: 0 auto;
    /* Center the loader */
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_icon_img {
    animation: rotate linear 2s;
}

.loader_icon_name {
    border: 1px solid red;
    display: inline;
}

.loader_img {
    display: block;
    margin: -11rem 0 0 6.3rem;
    color: blue;
    z-index: 20;
    position: absolute;
    width: 5rem;
}
.remove_btn{
    margin: -0.1rem 0 0 5rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: red;
}

@media screen and (max-width:884px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* border: 1px solid red; */
        width: 80%;
        margin: 9rem auto auto 18rem;
    }
    .customize_umbrella_section {
        /* border: 1px solid red; */
        margin: 2rem 0 0 0rem;
    }   
    .umbrella_img_div>img {
        width: 60%;
        margin: 0 0 0 -4rem;
    }
    .heading {
        font-size: 2.6rem;
    }
    .pink, .blue, .yellow {
        /* border: 1px solid red; */
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #d8348b;
        cursor: pointer;
    }
    
    .blue {
        /* border: 1px solid red; */
        background-color: #2eb3e5;
    }
    
    .yellow {
        /* border: 1px solid red; */
        background-color: #fed247;
    }
    
    .umbrella_img_div>img {
        width: 60%;
    }
    h3{
        font-size: 1.7rem;
    }
    .upload_logo_preview {
        margin: 0 0 0.5rem 0;
        font-size: 1.2rem;
    }
    
    .png_only {
        margin: 0 0 0 0;
        font-size: 1rem;
    }
    
    #logo_div {
        width: 7rem;
        height: 1.7rem;
        z-index: 10;
        margin: -3rem 0 0 6rem;
        position: absolute;
    }
    .custom-file-upload {
        display: flex;
        padding: 0.8rem;
        cursor: pointer;
        width: 20rem;
        margin: 0.6rem 0 0 0;
        background-color: #2eb3e5;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
    .remove_btn{
        margin: 0.5rem 0 0 3rem;
        font-size: 2rem;
        font-weight: 600;
    }
    
    
}